@media screen and (max-width:425px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        background-position: 50%;
    }

    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }

    .logo img {
        width: 100px;
    }

    .buscar {
        font-size: 12px;
    }

    .m-s {
        font-size: 15px;
    }


    .marcas div img {
        width: 180px;
        height: 100px;
        margin: 1px;
    }

    .subtitulo {
        font-size: 14px;
    }

    .carrousel p {
        font-size: 10px;
    }


    .carrousel h3 {
        font-size: 10px;
    }


    .carrousel img {
        width: 100px;
        height: 100px;
    }

    .vec img {
        width: 18px;
        height: 18px;
    }

    .kits img {
        width: 300px;
        margin: 5px;
    }

    .kits {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    footer section {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    footer img {
        width: 20px;
    }

    .contactos ul li img {
        width: 15px;
    }

    .grid2 {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
    }

    .t2 {
        margin: 10px;
        width: 90%;
        height: 250px;
        align-content: center;
    }


    .forms2 {
        width: 85%;
        height: 400px;
        padding: 10px;
        align-content: center;
    }

    .forms2 form {
        margin: 10px 0;
    }

    .forms2 input {
        width: 300px;
        height: 30px;
        justify-content: center;
    }
}