@media screen and (max-width:1024px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    
    
    nav{
        .logo img {
            width: 100px;
        }
        .buscar {
            width: 400px;
            height: 20px;
            font-size: 14px;
        }
        .navbar img {
            width: 20px;
        }
    }

    .m-s {
        font-size: 20px;
    }

    .marcas div img {
        width: 450px;
        height: 250px;
    }

    .subtitulo {
        font-size: 18px;
    }


    .carrousel img {
        width: 200px;
    }

    .panel img {
        width: 300px;
        height: 200px;
    }

    .vec img {
        width: 30px;
    }

    .kits img {
        width: 400px;
    }

    .grids2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}
