@media screen and (max-width:768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    
    nav{
        .logo img {
            width: 70px;
        }
        .buscar {
            width: 200px;
            height: 25px;
            font-size: 14px;
        }
        .navbar{
            li{
                a {
                    font-size: 12px;
                }
            }
        }
    }


    .m-s {
        font-size: 18px;
    }

    .marcas div img {
        width: 350px;
        height: 200px;
    }

    .subtitulo {
        font-size: 16px;
    }

    .carrousel {
        font-size: 12px;
        img {
            width: 150px;
        }
        .vec {
            img {
                width: 30px;
            }
        }
        .panel img {
            width: 250px;
            height: 150px;
        }
    }

    .kits img {
        width: 300px;
    }

    .grid2{
        width: 100%;
        height: 1100px;
        display: flex;
        flex-direction: column;
        .t2{
            width:  95%;
            height: fit-content;
            margin: 20px;
            h1{
                text-align: center;
                width: 95%;
            }
            p{
                text-align: center;
                width: 95%;
            }
            .info{
                width: 95%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .forms2{
            width: 95%;
            height: fit-content;
        }
    }

    .grid{
        width: 98%;
        height: max-content;
        grid-template-columns: repeat(3, 1fr);
        .barra-izquierda{
        display: none;
        }
        .catalogo{
            width: 99%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-start: 1;
            grid-column-end: 4;
            article{
                font-size: 16px;
                width: auto;
                height: auto;
                img{
                    width: 150px;
                    height: auto;
                }
            }
        }
    }
}
