@media screen and (max-width:1024px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    
    
    nav{
        .logo img {
            width: 100px;
        }
        .buscar {
            width: 400px;
            height: 20px;
            font-size: 14px;
        }
        .navbar img {
            width: 20px;
        }
    }

    .m-s {
        font-size: 20px;
    }

    .marcas div img {
        width: 450px;
        height: 250px;
    }

    .subtitulo {
        font-size: 18px;
    }


    .carrousel img {
        width: 200px;
    }

    .panel img {
        width: 300px;
        height: 200px;
    }

    .vec img {
        width: 30px;
    }

    .kits img {
        width: 400px;
    }

    .grids2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .guia{
        width: 95%;
        align-items: center;
        .orden{
            option{
                width: auto;
            }
        }
    }

    .grid{
        width: 99%;
        height: 1700px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);

        .barra-izquierda{
            width: 200px;
        }
    
        .catalogo{
            width: 95%;
            height: fit-content;
            padding: 0;
            grid-column-start: 2;
            grid-column-end: 6;
            grid-row-start: 1;
            grid-row-end: 9;
            article{
                width: auto;
                height: fit-content;
                img{
                    width: 200px;
                    height: fit-content;
                }
            }
        }
    }


}
