header {
    background-image: url(../asset/img/nav.bar.jpg);
    font-family: "Montserrat", sans-serif;
    background-position: 150%;
    background-size: cover;
    background-repeat: no-repeat;
    position: sticky;
    display: flex;
    flex-direction: column-reverse;
}