.butt {
    box-sizing: border-box;
    width: 7.5rem;
    margin: .5rem;
    padding: .1875rem;
    border: solid;
    border-width: .0313rem;
    border-radius: 1.875rem;
    &:hover{
        background-color: #173F2A;
        color: #FEF6E3;
    }
    p {
        text-align: center;
    }
}

.m-r {
    background-color: #173F2A;
    color: #FEF6E3;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    &:hover{
        opacity: 80%;
    }
}

.boton-regis {
    background-color: #173F2A;
    color: #FEF6E3;
    border-radius: 20px;
    margin: 20px 20px 10px 20px;
    padding: 10px;
    width: 300px;
    &:hover{
        opacity: 80%;
    }
    p {
        text-align: center;
    }
}
