nav {
    margin: 1.5rem;
    justify-content: space-between;
    display: flex;
    align-items: center;

    .logo {
        margin: 1.25rem;
    }
    .buscar {
        width: 37.5rem;
        height: 30px;
        border-radius: 1.25rem;
        border: 0;
        box-sizing: content-box;
        align-items: center;
        text-align: center;
        font-size: 1.375rem;
    }
    .navbar {
        display: flex;
        margin: 1.25rem;
        align-items: center;
        gap: 1.25rem;
        list-style: none;
        text-decoration: none;
        color: #FEF6E3;
        text-align: right;
        li {
            text-align: right;
            a {
                text-decoration: none;
                color: #FEF6E3;
                text-align: right;
                font-size: small;
            }
        }
    }
}